.publish-post-container 
{
    width: 95%;
    height: 12%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/section-background.png");
    border-image: url("../assets/images/border.png");
    border-image: url("../assets/images/border.png") 30 round;
    border-width: 27px;
    border-style: solid;
    background-clip: padding-box;
}
button {
    background-color: #edd49a84;
    width: 98%;
    height: 70%;
    border-radius: 6px;
    font-size: 1.5rem;
}